#header {
  background-color: #ffffff;
  border-bottom: none;
  font-size: 1rem;
  margin-bottom: 0;
}

.headerContainer {
  background-color: #ffffff;
}

.numberIcon {
  background-color: orange;
  border-radius: 50%;
  padding: 3px 7px;
  color: white;
  font-weight: 700;
  font-size: 0.7rem;
}

.letterIcon {
  background-color: gray;
  border-radius: 50%;
  opacity: 0.5;
  padding: 10px 14px;
  color: white;
  font-weight: 700;
  font-size: 0.7rem;
}
