#header {
  background-color: #ffffff;
  border-bottom: none;
}

.numberIcon {
  background-color: orange;
  border-radius: 50%;
  padding: 2px 6px;
  color: white;
  font-weight: bold;
  font-size: 10px;
}

.letterIcon {
  background-color: grey;
  border-radius: 50%;
  padding: 10px 14px;
  color: white;
  font-weight: bold;
  font-size: 10px;
}