#header {
  background-color: #ffffff;
}

.numberIcon {
  background-color: orange;
  border-radius: 50%;
  padding: 4px 8px 4px;
  color: white;
  font-weight: bold;
}

.letterIcon {
  background-color: grey;
  border-radius: 50%;
  padding: 4px 8px 4px;
  color: white;
  font-weight: bold;

}