.services-view {
  background-color: #ffffff;
  padding: 30px;
}

.test {
  background-color: grey;
  margin-bottom: 0;
  padding: 0;
}

.service-label {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}