<div class="container services-view">
  <div class="row">
    <div class="service-button col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="service-label">
            <img src="./assets/img/it.png"> 
            <h1>It Services</h1>
          </div>
          <p>Purchase IT products, or get IT support</p>
        </div>
      </div>
    </div>
    <div class="service-button col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="service-label">
            <img src="./assets/img/pr.png"> 
            <h1>Procurement Services</h1>
          </div>
          <p>Request Procurement support</p>
        </div>
      </div>
    </div>
    <div class="service-button col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="service-label">
            <img src="./assets/img/hr.png"> 
            <h1>HR Services</h1>
          </div>
          <p>Request HR support</p>
        </div>
      </div>
    </div>
  </div>
</div>

