<div class="container services-container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="service-button panel panel-default">
        <div class="panel-body">
          <div class="service-label">
            <img src="./assets/img/it.png"> 
            <h2>It Services</h2>
          </div>
          <p>Purchase IT products, or get IT support</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="service-button panel panel-default">
        <div class="panel-body">
          <div class="service-label">
            <img src="./assets/img/pr.png"> 
            <h2>Procurement Services</h2>
          </div>
          <p>Request Procurement support</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="service-button panel panel-default">
        <div class="panel-body">
          <div class="service-label">
            <img src="./assets/img/hr.png"> 
            <h2>HR Services</h2>
          </div>
          <p>Request HR support</p>
        </div>
      </div>
    </div>
  </div>
</div>

