#procurement-services-title {
  padding-top: 4px;
}

.services-container {
  background-color: #fff;
  margin: 25px auto;
  padding: 30px;
}

.service-button {
  background-color: #fdfdfd;
  height: 120px;
  margin-bottom: 0;
  opacity: 1;
}

.service-desc {
  font-size: 0.75rem;
}

.service-image {
  height: 48px;
  padding: 4px;
  width: 48px;
}

.service-label {
  display: flex;
  font-size: 1.4rem;
  line-height: 1;
}

.service-title {
  line-height: 48px;
}

@media only screen and (max-width: 1199px) {
  .service-image {
    height: 32px;
    padding: 2px;
    width: 32px;
  }

  .service-label {
    font-size: 1rem;
  }

  .service-title {
    line-height: 32px;
  }
}

@media only screen and (max-width: 991px) {
  .service-image {
    height: 48px;
    padding: 4px;
    width: 48px;
  }

  .service-label {
    font-size: 1.4rem;
  }

  .service-title {
    line-height: 48px;
  }
}

@media only screen and (max-width: 767px) {
  #procurement-services-title {
    padding-top: 8px;
  }
}