#searchHomeContainer {
  background: url('../../assets/img/background.jpg');
  height: 600px;
  padding: 0;

  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 

}

#searchBox {
  margin: 6%;
}
