<div class="container-fluid" id="searchHomeContainer">
  <navbar-component></navbar-component>
  <div class="row" id="searchBox">
    <div class="col-md-8 col-md-offset-2">     
      <div class="text-center">
        <h1 style="font-size: 6em;">Welcome to</h1>
        <h1 style="font-size: 80px; font-weight: bold;">Global Business Services</h1>
      </div>

      <form role="form" i>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" type="text" name="search" placeholder="Search..." required style="height: 48px;" />

            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" style="border-left: none; height: 48px; width: 48px;">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
