#searchHomeContainer {
  background: url('../../assets/img/background.jpg');
  height: 600px;
  padding: 0;

  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#searchBox {
  margin: 8% 0;
}

.title-bottom {
  font-size: 4.5rem;
  font-weight: 500;
}

.title-top {
  font-size: 4.5rem;
}

@media only screen and (max-width: 767px) {
  .title-bottom {
    font-size: 3.2rem;
  }

  .title-top {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 575px) {
  .title-bottom {
    font-size: 2.2rem;
  }

  .title-top {
    font-size: 2.2rem;
  }
}
