<div class="newsContainer panel panel-default">
  <h3>Latest News </h3>
  <div class="orangeLine"><!-- the orange  line --></div>

  <div ng-repeat="news in newsData" class="panel panel-default noborderWhite">
    <h4 class="panel-heading noborderWhite newsHeading">{{news.title}}</h4>
    <div class="panel-body noborderWhite newsTime"> 
      <span class="shift-right"> <i class="far fa-clock"></i></span> {{news.time}}d ago in <span class="orange">{{news.type}}</span>
    </div>          
    <p class="noborderWhite newsBody">{{news.content}}</p>          
    <div class="bottom-border-grey"></div>
  </div>
</div>
