<div class="newsContainer panel panel-default">
  <h3>Latest News </h3>
  <div class="orangeLine"><!-- the orange  line --></div>

  <div class="panel panel-default noborderWhite">
    <h4 class="panel-heading noborderWhite newsHeading">GBS Portal Now Live!</h4>
    <div class="panel-body noborderWhite newsTime"> 
      <span style="margin-right: .5em;"> <i class="far fa-clock"></i></span> 24d ago in <span style="color:#ff7300">General</span>
    </div>          
    <p class="noborderWhite newsBody">The new Global Business Services portal is now live. This effort presents users with a unified web interface for employees to access information and resources related to HR, IT, and Procurement. The n</p>          
    <div class="bottom-border-grey"></div>
  </div>


  <div class="panel panel-default noborderWhite">
    <h4 class="panel-heading noborderWhite newsHeading">GBS Portal Now Live!</h4>
    <div class="panel-body noborderWhite newsTime"> 
      <span style="margin-right: .5em;"> <i class="far fa-clock"></i></span> 24d ago in <span style="color:#ff7300">General</span>
    </div>          
    <p class="noborderWhite newsBody">The new Global Business Services portal is now live. This effort presents users with a unified web interface for employees to access information and resources related to HR, IT, and Procurement. The n</p>          
    <div class="bottom-border-grey"></div>
  </div>


</div>
