.newsContainer {
  margin: 25px auto;
  padding: 30px;
  background-color: #ffffff;
}

.orangeLine {
  border-bottom: 5px solid #ff7300;
  margin: .75em 0;
}

.bottom-border-grey {
  margin: 1.25em 0;
  border-bottom: 2px solid #eeeeee; 
}

.newsTime {
  font-size: .75em;
  margin-top: 1em;
}

.newsBody {
  margin: .75em 0;
}

.newsHeading {
  margin: .75em 0;
}

.panel-heading.noborderWhite,
.noborderWhite {
  border: none;
  box-shadow: none;
  padding: 0;
  background-color: #ffffff;
}


